<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Routing</title>
        <link rel="icon" href="/public/img/logo.png" />
        <link rel="stylesheet" href="/public/CSS/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-light border-bottom sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#"
                    ><img src="/public/img/Logo.png" alt="Logo" width="50"
                /></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/form-project"
                                >AddProject</a
                            >
                        </li>
                    </ul>
                    <a href="/contact" class="btn btn-dark ms-auto"
                        >Contact Me</a
                    >
                </div>
            </div>
        </nav>

        <div class="card">
            <div class="container-card">
                <div class="content">
                    <div class="article">
                        <div class="container-content">
                            <h1>Hi Welcome to my hut</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consecteturcum sociis natoque penatibus et magnis. Nisl pretium fusce id velit ut tortor pretium viverra. Integer eget aliquet nibh praesent. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Integer enim neque volutpat ac tincidunt vitae. Risus feugiat in ante metus dictum at tempor. Viverra aliquet eget sit amet tellus cras. Dictum at tempor commodo ullamcorper a. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Elit eget gravida
                            </p>
                        </div>

                        <div class="anchor">
                            <div class="container-contact">
                                <a href="https://www.whatsapp.com/?lang=id">contact</a>
                            </div>
                            <div class="container-cv">
                                download CV
                                <a href="#"
                                    ><img
                                        src="/public/img/icons8-downloading-updates-64.png"
                                        alt=""
                                        style="width: 23px"
                                /></a>
                            </div>
                        </div>
                    </div>

                    <div class="line-sosial">
                        <a
                            href="https://www.instagram.com/teddyadji/"
                            id="ig"
                        >
                            <img
                                src="/public/img/icons8-instagram-50.png"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://www.facebook.com/login.php/"
                            id="fb"
                        >
                            <img
                                src="/public/img/icons8-facebook-50.png"
                                alt=""
                            />
                        </a>
                        <a href="https://twitter.com/i/flow/login" id="twitter">
                            <img
                                src="/public/img/icons8-github-50.png"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://www.linkedin.com/login/in"
                            id="linkedIn"
                        >
                            <img
                                src="/public/img/icons8-linkedin-50.png"
                                alt=""
                            />
                        </a>
                    </div>
                </div>
                <div class="profile-card">
                    <img src="/public/img/gambar_luffy.jpg" alt="" />
                    <div class="profil-bio">
                        <h2>Teddy Adji P.</h2>
                        <p>Fullstack Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog">
            <div class="output-myproject">
                <h1>My Project</h1>
            </div>

            <div class="post-blog">
                <div class="card-blog">
                    <a href="#">
                        <div class="content-blog">
                            <div class="thumbnail">
                                <img src="/public/img/blog-img.png" alt="" />
                            </div>

                            <div class="title-blog">
                                <h3>Dumbways Mobile App</h3>
                                <p>durasi : 12 bulan</p>
                            </div>

                            <div class="description-output">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even slightly
                                believable. If you are going to use a passage of
                                Lorem Ipsum, you need to be sure there isn't
                                anything embarrassing hidden in the middle of.
                            </div>

                            <div class="technologies-output">
                                <div class="nodejs">
                                    <img src="/public/img/nodejs.png" alt="" />
                                </div>
                                <div class="nextjs">
                                    <img src="/public/img/nextjs.png" alt="" />
                                </div>
                                <div class="reactjs">
                                    <img src="/public/img/reactjs.png" alt="" />
                                </div>
                                <div class="typescript">
                                    <img
                                        src="/public/img/typescript.png"
                                        alt=""
                                    />
                                </div>
                            </div>

                            <div class="opsi-blog">
                                <div class="edit-blog">
                                    <a href="">edit</a>
                                </div>

                                <div class="delete-blog">
                                    <a href="">delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-blog">
                    <a href="blog.html">
                        <div class="content-blog">
                            <div class="thumbnail">
                                <img src="/public/img/blog-img.png" alt="" />
                            </div>

                            <div class="title-blog">
                                <h3>Dumbways Mobile App</h3>
                                <p>durasi : 12 bulan</p>
                            </div>

                            <div class="description-output">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even slightly
                                believable. If you are going to use a passage of
                                Lorem Ipsum, you need to be sure there isn't
                                anything embarrassing hidden in the middle of.
                            </div>

                            <div class="technologies-output">
                                <div class="nodejs">
                                    <img src="/public/img/nodejs.png" alt="" />
                                </div>
                                <div class="nextjs">
                                    <img src="/public/img/nextjs.png" alt="" />
                                </div>
                                <div class="reactjs">
                                    <img src="/public/img/reactjs.png" alt="" />
                                </div>
                                <div class="typescript">
                                    <img
                                        src="/public/img/typescript.png"
                                        alt=""
                                    />
                                </div>
                            </div>

                            <div class="opsi-blog">
                                <div class="edit-blog">
                                    <a href="">edit</a>
                                </div>

                                <div class="delete-blog">
                                    <a href="">delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-blog">
                    <a href="blog.html">
                        <div class="content-blog">
                            <div class="thumbnail">
                                <img src="/public/img/blog-img.png" alt="" />
                            </div>

                            <div class="title-blog">
                                <h3>Dumbways Mobile App</h3>
                                <p>durasi : 12 bulan</p>
                            </div>

                            <div class="description-output">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even slightly
                                believable. If you are going to use a passage of
                                Lorem Ipsum, you need to be sure there isn't
                                anything embarrassing hidden in the middle of.
                            </div>

                            <div class="technologies-output">
                                <div class="nodejs">
                                    <img src="/public/img/nodejs.png" alt="" />
                                </div>
                                <div class="nextjs">
                                    <img src="/public/img/nextjs.png" alt="" />
                                </div>
                                <div class="reactjs">
                                    <img src="/public/img/reactjs.png" alt="" />
                                </div>
                                <div class="typescript">
                                    <img
                                        src="/public/img/typescript.png"
                                        alt=""
                                    />
                                </div>
                            </div>

                            <div class="opsi-blog">
                                <div class="edit-blog">
                                    <a href="">edit</a>
                                </div>

                                <div class="delete-blog">
                                    <a href="">delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-blog">
                    <a href="blog.html">
                        <div class="content-blog">
                            <div class="thumbnail">
                                <img src="/public/img/blog-img.png" alt="" />
                            </div>

                            <div class="title-blog">
                                <h3>Dumbways Mobile App</h3>
                                <p>durasi : 12 bulan</p>
                            </div>

                            <div class="description-output">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even slightly
                                believable. If you are going to use a passage of
                                Lorem Ipsum, you need to be sure there isn't
                                anything embarrassing hidden in the middle of.
                            </div>

                            <div class="technologies-output">
                                <div class="nodejs">
                                    <img src="/public/img/nodejs.png" alt="" />
                                </div>
                                <div class="nextjs">
                                    <img src="/public/img/nextjs.png" alt="" />
                                </div>
                                <div class="reactjs">
                                    <img src="/public/img/reactjs.png" alt="" />
                                </div>
                                <div class="typescript">
                                    <img
                                        src="/public/img/typescript.png"
                                        alt=""
                                    />
                                </div>
                            </div>

                            <div class="opsi-blog">
                                <div class="edit-blog">
                                    <a href="">edit</a>
                                </div>

                                <div class="delete-blog">
                                    <a href="">delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-blog">
                    <a href="blog.html">
                        <div class="content-blog">
                            <div class="thumbnail">
                                <img src="/public/img/blog-img.png" alt="" />
                            </div>

                            <div class="title-blog">
                                <h3>Dumbways Mobile App</h3>
                                <p>durasi : 12 bulan</p>
                            </div>

                            <div class="description-output">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even slightly
                                believable. If you are going to use a passage of
                                Lorem Ipsum, you need to be sure there isn't
                                anything embarrassing hidden in the middle of.
                            </div>

                            <div class="technologies-output">
                                <div class="nodejs">
                                    <img src="/public/img/nodejs.png" alt="" />
                                </div>
                                <div class="nextjs">
                                    <img src="/public/img/nextjs.png" alt="" />
                                </div>
                                <div class="reactjs">
                                    <img src="/public/img/reactjs.png" alt="" />
                                </div>
                                <div class="typescript">
                                    <img
                                        src="/public/img/typescript.png"
                                        alt=""
                                    />
                                </div>
                            </div>

                            <div class="opsi-blog">
                                <div class="edit-blog">
                                    <a href="">edit</a>
                                </div>

                                <div class="delete-blog">
                                    <a href="">delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-blog">
                    <a href="blog.html">
                        <div class="content-blog">
                            <div class="thumbnail">
                                <img src="/public/img/blog-img.png" alt="" />
                            </div>

                            <div class="title-blog">
                                <h3>Dumbways Mobile App</h3>
                                <p>durasi : 12 bulan</p>
                            </div>

                            <div class="description-output">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even slightly
                                believable. If you are going to use a passage of
                                Lorem Ipsum, you need to be sure there isn't
                                anything embarrassing hidden in the middle of.
                            </div>

                            <div class="technologies-output">
                                <div class="nodejs">
                                    <img src="/public/img/nodejs.png" alt="" />
                                </div>
                                <div class="nextjs">
                                    <img src="/public/img/nextjs.png" alt="" />
                                </div>
                                <div class="reactjs">
                                    <img src="/public/img/reactjs.png" alt="" />
                                </div>
                                <div class="typescript">
                                    <img
                                        src="/public/img/typescript.png"
                                        alt=""
                                    />
                                </div>
                            </div>

                            <div class="opsi-blog">
                                <div class="edit-blog">
                                    <a href="">edit</a>
                                </div>

                                <div class="delete-blog">
                                    <a href="">delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
